:root {
	--width-schedule-table: 186px;
	--space-table: calc(var(--width-schedule-table) / 2);
}


a {
	text-decoration: none;
}

h5 {
	font-size: 12px;
	margin: 0;
	color: #14509a;
	font-weight: bold;
}

p {
	margin: 0 0 12px;
}
::selection {
	background: #0049a2;
	color: #c7c4bf;
}
table tr {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}



table tr th {
	padding-left: 5px;
	line-height: 1.5;
	font-weight: unset;
	color: #000;
}

table tr th a {
	color: #337ab7;
}
/* tr:hover{
	background-color:#d2d2d2 ;
} */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
table tr:nth-child(even) {
	background-color: #F2F2F2;
}
table tr:nth-child(odd) {
	background-color: #fff;
}
table tr:nth-child(1) {
	background-color: #d2d2d2;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}

.text-left.end {
	height: 52px;
	min-height: 52px;
}

.text-center, .text-left {
	padding: 3px;
}



/* animation on page đăng kí học tập */
@keyframes animationShowTabs {
	from{
		opacity: 0;
	} to {
		opacity: 100%;
	}
}